@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  overflow-x: hidden;
}
body {
  @apply bg-white text-gray-700;
}
.swiper-button-next,
.swiper-button-prev {
  color: #16a34a; /* hijau */
}
.swiper {
  overflow: hidden;
}